<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>

<!-- 

Hello Camper!

For now, the test suite only works in Chrome! Please read the README below in the JS Editor before beginning. Feel free to delete this message once you have read it. Good luck and Happy Coding! 

- The freeCodeCamp Team 

-->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gym Membership</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
  </head>

  <body>
      <div class="img-bg">
          <div class="content">
            <h1 id="title">Kazuki FITness Membership Sign-Up Form</h1>
            <p id="description" style="text-align: center;">Thanks for your interest!</p>
          </div>
        
        <div class="form-card">
            <div class="form-content">
            <form action="" id="survey-form">
               <h2>Step 1: Member Info </h2> <br>
            <label class="label-sty" for="name" id="name-label">Name:</label> <br>
            <input class="input-sty" type="text" id="name" placeholder="Enter your full name" required> <br>

            <label class="label-sty" for="email" id="email-label">Email:</label> <br>
            <input class="input-sty" type="email" id="email" placeholder="Email Address" required> <br>

            <label class="label-sty" for="pnumber" id="pnumber-label">Enter your main phone number (format: (###)-###-####):</label> <br>
            <input class="input-sty" type="tel" id="pnumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone Number" required> <br>
            

            <label class="label-sty" for="birth-date" id="birth-date-label">Birth Date:</label> <br>
            <input class="input-sty" type="date" id="birth-date" min="1940-01-01" max="2025-01-01"> <br>

            <label class="label-sty" for="address" id="address-label">Address:</label> <br>
            <input class="input-sty" type="text" id="address" placeholder="Address" required> <br>

            <label class="label-sty" for="city" id="city-label">City:</label> <br>
            <input class="input-sty" type="text" id="city" placeholder="City" ><br>


            <label class="label-sty" for="state" id="state-label">State:</label> <br>
            <input class="input-sty" type="text" id="state" placeholder="State" ><br>

            
            <label class="label-sty" for="number" id="number-label">Zip:</label> <br>
            <input class="input-sty" type="number" id="number" placeholder="Enter a five digit zipcode" min="10000" max="99999" required>

            <h2>Step 2: Tell us a little bit about yourself</h2>
            <p>How many days out of the week do you exercise?</p>

            <input type="radio" id="little" name="freq" value="zero">
            <label class="label-sty" for="zero" id="zero-label">0</label>

            <input type="radio" id="little" name="freq" value="onethree" checked>
            <label class="label-sty" for="little" id="little-label">1-3</label>

            <input type="radio" id="medium" name="freq" value="threefie">
            <label class="label-sty" for="medium" id="medium-label">3-5</label>

            <input type="radio" id="high" name="freq" value="fivemore">
            <label class="label-sty" for="high" id="high-label">5+</label> <br><br><br>

            <label class="label-sty" for="goals" id="goals"> What are your personal fitness goals?<label> <br> <br>
            <textarea id="goals" name="goals" rows="5" cols="33" autocapitalize maxlength="255" placeholder="Optional" 
            spellcheck="true"></textarea> <br>

            <label for="dropdown" id="dropdown">How did you hear about us?</label><br>
            <select name="advert" id="dropdown" required>
                <option value="">--Please choose an option--</option>
                <option value="friend">Through a friend / family</option>
                <option value="google">Google search</option>
                <option value="tv">TV Advertisement</option>
                <option value="employer">My employer</option>
                <option value="media">Social media</option>
                <option value="other">Other</option>
            </select> <br><br>

            <p>Is this your first gym?</p>
            <label for="yes" id="yes">Yes</label>
            <input type="checkbox" name="checkbox" value="yes">

            <p>Receive promotional deals from Kazuki FITness</p>
            <label for="yes" id="yes">Yes</label>
            <input type="checkbox" name="checkbox" value="yes">


            <p><input type="submit" id="submit" value="Sign Me Up!"></p>
        

            </form>
            </div>
        </div>
    <!-- </div> -->

    <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
  </body>
  
</html>
